# If Statement

In [3]:
a = 10
b = 20
if a > b:
    print("if true")
else:
    print("Otherwise False")

Otherwise False

In [4]:
age = 40
if age >20:
    print("You are eligible")
else:
    print("You are under-age")

You are eligible

In [2]:
temp = int(input("Enter the temperature today :"))
if temp > 30:
    print("its hot weather today")
else:
    print("its normal weather")

Enter the temperature today :20
its normal weather

In [7]:
cnic = input("do you have cnic ?")
if cnic == 'yes':
    print("Ok Come inside")
    nameinlist = input("Is my name in list ?")
    if nameinlist == 'yes':
        print("yes , you can cast your vote")
    else:
        print("Sorry , your name is not in List")
else:
    print("You Can't vote without cnic")

do you have cnic ?yes
Ok Come inside
Is my name in list ?no
Sorry , your name is not in List

In [31]:
marks = int(input("Enter your marks : "))
grade = " "
if marks >= 90:
    grade = "A*"
elif marks >= 80:
    grade = "A"
elif marks >= 70:
    grade = "B"
elif marks >= 60:
    grade = "C"
elif marks >= 50:
    grade = "D"
else:
    grade = "Ungraded"
    
    
print(f"Your marks are {marks} and your garde is {grade} ")

Enter your marks : 30
Your marks are 30 and your garde is Ungraded

In [28]:
cnic = input("Do you have Cnic ?")
nameinlist = input("is my name is in list ?")
  if(cnic == 'yes') and (nameinlist == 'yes'):
    print("cast your vote")
else:
    print("you can't vote")

Do you have Cnic ?yes
is my name is in list ?no
you can't vote

In [11]:
students = ["asad","raza","hira","Ogg","Raima","Farah"]
students.append("Muntaha")
students.insert(2,"hajaab")
del students[0]
students[3]="naima"
students.remove("raza")
students

['hajaab', 'hira', 'naima', 'Raima', 'Farah', 'Muntaha']

In [12]:
students = ["asad","raza","hira","Ogg","Raima","Farah"]
students.sort()
students

['Farah', 'Ogg', 'Raima', 'asad', 'hira', 'raza']

In [14]:
students = ["asad","raza","hira","Ogg","Raima","Farah"]
students.sort(reverse = True)
students

['raza', 'hira', 'asad', 'Raima', 'Ogg', 'Farah']

In [15]:
marks = [90,27,67,90,22,87,100,78,56,99]
marks

[90, 27, 67, 90, 22, 87, 100, 78, 56, 99]

In [17]:
list2 = marks 
list2 
#pass by reference
# for copy we copy function

[90, 27, 67, 90, 22, 87, 100, 78, 56, 99]

In [25]:
list2 = marks 
list2 
list3 = list2.copy()
list3

list3.append(78)

list3

[90, 27, 67, 90, 22, 87, 100, 78, 56, 99, 78]

In [26]:
list2.reverse()
list2

[99, 56, 78, 100, 87, 22, 90, 67, 27, 90]

In [34]:
#stack
numbers = [23,45,67,87,52,90,12,87,67]
x = numbers.pop()
print(x)
print(numbers)

67
[23, 45, 67, 87, 52, 90, 12, 87]

In [63]:
#stack
numbers = [23,45,67,87,52,90,12,87,67]
numbers.append(44)

In [64]:
x = numbers.pop()
print(x)
print(numbers)

44
[23, 45, 67, 87, 52, 90, 12, 87, 67]

In [53]:
poppedList = []

In [74]:
if len(numbers) != 0:
    poppedList.append(numbers.pop())
    print(poppedList)
else:    
    print("Your List is Empty")

Your List is Empty

In [75]:
len(list3)

11

# List in list

In [76]:
list4 = [29,91,["apple","banana","orange"]]
list4

[29, 91, ['apple', 'banana', 'orange']]

In [78]:
list4[2][1]

'banana'

In [94]:
fruits = ['orange',"peach",'apple','mango']
fruits

['orange', 'peach', 'apple', 'mango']

In [95]:
students

['raza', 'hira', 'asad', 'Raima', 'Ogg', 'Farah']

In [99]:
abc = [90,56, 4,students,fruits,'hello']
abc

[90,
 56,
 4,
 ['raza', 'hira', 'asad', 'Raima', 'Ogg', 'Farah'],
 ['orange', 'peach', 'mango'],
 'hello']

In [97]:
abc[4].remove("apple")
abc

[90,
 56,
 4,
 ['raza', 'hira', 'asad', 'Raima', 'Ogg', 'Farah'],
 ['orange', 'peach', 'mango'],
 'hello']

In [103]:
del abc[3][2]
abc

[90,
 56,
 4,
 ['raza', 'hira', 'Raima', 'Ogg', 'Farah'],
 ['orange', 'peach', 'mango'],
 'hello']

# Slicing

In [106]:
number=[32,45,23,67,43,89,35,67,35,99,43,]
number

[32, 45, 23, 67, 43, 89, 35, 67, 35, 99, 43]

In [112]:
number[1:6:2]  
#last mention index is not included

[45, 67, 89]

In [113]:
number[:9]
#slicing is usually left to ryt

[32, 45, 23, 67, 43, 89, 35, 67, 35]

In [114]:
number[1:]

[45, 23, 67, 43, 89, 35, 67, 35, 99, 43]

In [116]:
number[:]

[32, 45, 23, 67, 43, 89, 35, 67, 35, 99, 43]

In [117]:
number[::2]

[32, 23, 43, 35, 35, 43]

In [120]:
number[-1:-9:-1]  #ryt to left slicing , step negative

[43, 99, 35, 67, 35, 89, 43, 67]

# Tupples

In [1]:
#tuples and list are almost same but singlle difference is tuple is immutable
# all slicing rules can apply on tuple
tuple0 = (3,4,6,9,3,0,2,9)

In [2]:
type(tuple0)

tuple

In [3]:
len(tuple0)

8

In [5]:
tuple0[5]

0

In [6]:
tuple0[1:5]

(4, 6, 9, 3)

In [7]:
tuple0[::]

(3, 4, 6, 9, 3, 0, 2, 9)

In [8]:
tuple0[0:]

(3, 4, 6, 9, 3, 0, 2, 9)

In [9]:
tuple0[3:]

(9, 3, 0, 2, 9)

In [10]:
tuple0[0:8:2]

(3, 6, 3, 2)

In [11]:
#packing and unpacking in list and tuple

In [12]:
a = ("hira","anum","ogg","raima") #packing

In [13]:
w,x,y,z = a #unpacking

In [14]:
w

'hira'

In [15]:
x

'anum'

In [16]:
y

'ogg'

In [17]:
z

'raima'

In [20]:
rectangle= [100,300] #list packing

In [21]:
height, width =  rectangle #list unpacking

In [22]:
height

100

In [23]:
width

300

# For Loop

In [30]:
# task :print your name ten time
for i in range(5):
    print("anum")

anum
anum
anum
anum
anum

In [31]:
for i  in range(2,5): # start range or last range
    print(i,"Hira")

2 Hira
3 Hira
4 Hira

In [32]:
for i  in range(1,10,2):
    print(i,"Hira")

1 Hira
3 Hira
5 Hira
7 Hira
9 Hira

In [33]:
for i  in range(0,10,2):
    print(i,"Hira")

0 Hira
2 Hira
4 Hira
6 Hira
8 Hira

In [34]:
for i  in range(10,1,-2):
    print(i,"Hira")

10 Hira
8 Hira
6 Hira
4 Hira
2 Hira

In [35]:
my_list = ["Hira","Anum","ogg","Raima"]
for i in my_list:
    print(i)

Hira
Anum
ogg
Raima

In [41]:
num_list = [2,3,5,6,7,8,8,3,4,1]
num1= []
for i in num_list:
     num1.append(i*2)
print(num1)

[4, 6, 10, 12, 14, 16, 16, 6, 8, 2]

In [49]:
for i in range(6):
    print(i)
    if i == 3:
        print(i*2)

0
1
2
3
6
4
5

In [ ]:
#BREAK
#continue: at particular condition loop execute nhe hoga
#pass

In [54]:
for i in range(9):
    if(i == 3):
        continue
    print(i)

0
1
2
4
5
6
7
8

In [58]:
for i in range(9):
    pass

In [68]:
num = int(input("Enter a number"))
for i in range(1,11):
    print(str(num) +"*"+str(i)+"=",num*i)

Enter a number7
7*1= 7
7*2= 14
7*3= 21
7*4= 28
7*5= 35
7*6= 42
7*7= 49
7*8= 56
7*9= 63
7*10= 70

In [78]:
for i in "PAKISTAN":
    for j in range(3):
        print(i,j)

P 0
P 1
P 2
A 0
A 1
A 2
K 0
K 1
K 2
I 0
I 1
I 2
S 0
S 1
S 2
T 0
T 1
T 2
A 0
A 1
A 2
N 0
N 1
N 2

In [92]:
f_name= ["Hira","Anum","ogg","Raima"]
l_name =["Ahmed","zakir","baby","naz"]
full_name= []
for x in f_name:
    for y in l_name:
        full_name.append(x +" "+ y)
full_name

['Hira Ahmed',
 'Hira zakir',
 'Hira baby',
 'Hira nazz',
 'Anum Ahmed',
 'Anum zakir',
 'Anum baby',
 'Anum nazz',
 'ogg Ahmed',
 'ogg zakir',
 'ogg baby',
 'ogg nazz',
 'Raima Ahmed',
 'Raima zakir',
 'Raima baby',
 'Raima nazz']

In [97]:
#change case
"Anum".upper()

'ANUM'

In [98]:
sl_str="PAKISTAN ZINDABAD"
len(sl_str)

17

In [99]:
sl_str[:5]

'PAKIS'

In [100]:
sl_str[::]

'PAKISTAN ZINDABAD'


# Dictionary

In [101]:
#dictionary works on key value pair

adict = {}
type(adict)

dict

In [102]:
len(adict)

0

In [117]:
#adding values to a dictionary
adict["name"] = "Hira","Raima"
adict["Age"] = 22,24
adict["Contact_no"]="243793021","6373423"

In [123]:
adict

{'name': ('Hira', 'Raima'), 'Contact_no': ('243793021', '6373423')}

In [134]:
del adict["name"][1]\

TypeError: 'tuple' object doesn't support item deletion

In [136]:
bdict={}

In [137]:
bdict["name"] = "Hira"
bdict["Age"] = 22
bdict["Contact_no"]="243793021"

In [138]:
bdict

{'name': 'Hira', 'Age': 22, 'Contact_no': '243793021'}

In [139]:
#keys()
#values()
#items()

In [140]:
for k in bdict.keys():
    print(k)

name
Age
Contact_no

In [141]:
for k in bdict.values():
    print(k)

Hira
22
243793021

In [145]:
for key, Value in bdict.items():
    print(key, Value)

name Hira
Age 22
Contact_no 243793021

# Creating a list of dictionary

In [146]:
list1 = [23,45,6,{"fruit":"Apple","Food":"biryani"}]

In [150]:
list1[3]["Food"]

'biryani'

In [1]:
d ={'names':['Hira','Anum','Ogg','Raima',],'ages':[11,14,15,13]}

In [2]:
d['names'][2]

'Ogg'

# Functions

In [3]:
# we used function for reusability of code.

In [ ]:
a = 12
b = 13
c = a + b
print(c)

In [4]:
def  add_Function():
    a = 12
    b = 13
    c = a + b
    print(c)

In [5]:
add_Function()

25

In [6]:
def name_Function():
    print("I'm Function Baby !")

In [7]:
name_Function()

I'm Function Baby !

In [8]:
def mul_function():
    a = 12
    b = 2
    print(a * b)

In [10]:
mul_function()

24

In [11]:
def greeting(name):
    print(f" you are welcom {name}")

In [12]:
greeting("anum")

 you are welcom anum

In [15]:
def greeting(name, name1):
    print(f" {name} you are welcom  by {name1}")

In [16]:
greeting("anum","hira")

 anum you are welcom  by hira

In [17]:
def sum_fun(a , b):
    c =  a + b
    print(c)

In [18]:
sum_fun(5,3)

8

In [23]:
def giveMeFullName(f_name,m_name, l_name):
   # fullname = f_name+m_name+l_name
    full_name = f"Welcom ! {f_name} {m_name} {l_name}"
    print(full_name)

In [24]:
giveMeFullName("Syeda","Anum","Zakir") #positional argument

Welcom ! Syeda Anum Zakir

In [25]:
#key word argument
giveMeFullName(m_name="anum", f_name = "syeda", l_name = "zakir")

Welcom ! syeda anum zakir

In [26]:
#default parameter .... bech me default values nhe askti

In [34]:
def giveMeFullName(f_name, l_name,m_name=""):
   # fullname = f_name+m_name+l_name
    full_name = f"Welcom ! {f_name} {m_name} {l_name}"
    print(full_name)

In [35]:
giveMeFullName("hira","ahmed")

Welcom ! hira  ahmed

In [40]:
def sub(u,v): #local variable and global variable
    w = u -v
    return w  # return is the last line of the function , after that line no line will execute
#more than one value can return.

In [41]:
returnValue = sub(9,3)

In [42]:
print(returnValue)

6

In [44]:
def sub(u,v): #local variable and global variable
    global q
    q = "I'm global variable"
    w = u -v
    return w
print(sub(40,30),q)

10 I'm global variable

# args,kwargs

In [1]:
def car(model,year):
    print(model,year)

In [3]:
car('corolla',2019)

corolla 2019

In [5]:
car(2019,'Toyota')

2019 Toyota

In [7]:
car(year=2019,model='Toyota')

Toyota 2019

In [9]:
def name(fname, lname):
    print(f'First name :{fname}')
    print(f'Last name :{lname}')

In [10]:
name('anum','zakir')

First name :anum
Last name :zakir

In [11]:
name('zakir','anum')

First name :zakir
Last name :anum

In [12]:
name(lname='zakir',fname='anum')

First name :anum
Last name :zakir

In [23]:
def name(fname,lname,mname):
    print(f'First name :{fname}')
    print(f'Middle name :{mname}')
    print(f'Last name :{lname}')

In [24]:
name('syeda','zakir', mname ='anum')

First name :syeda
Middle name :anum
Last name :zakir

# Arbitary number of argument

In [25]:
def pizza(size,flavour,*toppings):
    print(size,flavour)
    print(toppings)

In [26]:
pizza('large','chicken tikka','extra cheese','olives')

large chicken tikka
('extra cheese', 'olives')

In [27]:
def students(name, fname,batch, *info):
    print(f'Student name: {name}')
    print(f'Father name: {fname}')
    print(f'Batch: {batch}')
    print(info)

In [31]:
students('anum','zakir',2015,'Software',2018,'Sec A','3.8 gpa','5th semester')

Student name: anum
Father name: zakir
Batch: 2015
('Software', 2018, 'Sec A', '3.8 gpa', '5th semester')

In [32]:
def car(make,model,**specs):
    print(make,model)
    print(specs)

In [33]:
car('toyota','prius',transmission='Automatic')

toyota prius
{'transmission': 'Automatic'}

In [34]:
car('toyota','prius',transmission='Automatic',power = 'yes')

toyota prius
{'transmission': 'Automatic', 'power': 'yes'}

# Functiona as a variable

In [51]:
def add(a,b):
    c = a+b
    return c

In [39]:
def sub(a,b):
    c = a -b
    return c

In [46]:
result = add(5,3) + sub(9,2)
print("Final Result = "+str(result))

Final Result = 15

In [52]:
result = add('hira','ahmed') 
print("Final Result = "+result)

Final Result = hiraahmed

# While Loop

In [53]:
for a in range(10):
    print(a)

0
1
2
3
4
5
6
7
8
9

In [55]:
a = 0
while(a < 10):
    print(a)
    a = a+1

0
1
2
3
4
5
6
7
8
9

In [57]:
topping= []
for a in range(5):
    toppings = input('Enter a Topping')
    topping.append[toppings)
print(topping)

Enter a Toppingabc
Enter a Toppingxyz
Enter a Toppingijk
Enter a Toppingopq
Enter a Toppingwxy
['abc', 'xyz', 'ijk', 'opq', 'wxy']

In [12]:
topping=[]
flag = True
while flag:
    toppings = input('Enter a Topping')
    if toppings == 'q':
        flag = False 
    else: 
        topping.append(toppings)
        
print(topping)

Enter a Toppinggvdhdeh
Enter a Toppingebegywye'
Enter a Toppingevtwfq
Enter a Toppingq
['gvdhdeh', "ebegywye'", 'evtwfq']

In [ ]:
availableFlaovours = ['Fjita','Tikka','Mexican']
availableSize =["large","medium","small","jumpoo"]
availavleToppings = ["Olives","chesse","Hurbs"]
print("Pizza Order")
print()
print()
flag = True
while flag :
    print(availableSize )
    size = input("Select Size of Your Pizza")
    print(size)
    print(availableFlaovours)
    flavour = input("In which flavour you want to order pizza");
    print(flavour)

Pizza Order


['large', 'medium', 'small', 'jumpoo']
Select Size of Your Pizzalarge
large
['Fjita', 'Tikka', 'Mexican']