# If Statement

In [3]:
a = 10
b = 20
if a > b:
    print("if true")
else:
    print("Otherwise False")

Otherwise False

In [4]:
age = 40
if age >20:
    print("You are eligible")
else:
    print("You are under-age")

You are eligible

In [2]:
temp = int(input("Enter the temperature today :"))
if temp > 30:
    print("its hot weather today")
else:
    print("its normal weather")

Enter the temperature today :20
its normal weather

In [7]:
cnic = input("do you have cnic ?")
if cnic == 'yes':
    print("Ok Come inside")
    nameinlist = input("Is my name in list ?")
    if nameinlist == 'yes':
        print("yes , you can cast your vote")
    else:
        print("Sorry , your name is not in List")
else:
    print("You Can't vote without cnic")

do you have cnic ?yes
Ok Come inside
Is my name in list ?no
Sorry , your name is not in List

In [31]:
marks = int(input("Enter your marks : "))
grade = " "
if marks >= 90:
    grade = "A*"
elif marks >= 80:
    grade = "A"
elif marks >= 70:
    grade = "B"
elif marks >= 60:
    grade = "C"
elif marks >= 50:
    grade = "D"
else:
    grade = "Ungraded"
    
    
print(f"Your marks are {marks} and your garde is {grade} ")

Enter your marks : 30
Your marks are 30 and your garde is Ungraded

In [28]:
cnic = input("Do you have Cnic ?")
nameinlist = input("is my name is in list ?")
  if(cnic == 'yes') and (nameinlist == 'yes'):
    print("cast your vote")
else:
    print("you can't vote")

Do you have Cnic ?yes
is my name is in list ?no
you can't vote

In [11]:
students = ["asad","raza","hira","Ogg","Raima","Farah"]
students.append("Muntaha")
students.insert(2,"hajaab")
del students[0]
students[3]="naima"
students.remove("raza")
students

['hajaab', 'hira', 'naima', 'Raima', 'Farah', 'Muntaha']

In [12]:
students = ["asad","raza","hira","Ogg","Raima","Farah"]
students.sort()
students

['Farah', 'Ogg', 'Raima', 'asad', 'hira', 'raza']

In [14]:
students = ["asad","raza","hira","Ogg","Raima","Farah"]
students.sort(reverse = True)
students

['raza', 'hira', 'asad', 'Raima', 'Ogg', 'Farah']

In [15]:
marks = [90,27,67,90,22,87,100,78,56,99]
marks

[90, 27, 67, 90, 22, 87, 100, 78, 56, 99]

In [17]:
list2 = marks 
list2 
#pass by reference
# for copy we copy function

[90, 27, 67, 90, 22, 87, 100, 78, 56, 99]

In [25]:
list2 = marks 
list2 
list3 = list2.copy()
list3

list3.append(78)

list3

[90, 27, 67, 90, 22, 87, 100, 78, 56, 99, 78]

In [26]:
list2.reverse()
list2

[99, 56, 78, 100, 87, 22, 90, 67, 27, 90]

In [34]:
#stack
numbers = [23,45,67,87,52,90,12,87,67]
x = numbers.pop()
print(x)
print(numbers)

67
[23, 45, 67, 87, 52, 90, 12, 87]

In [63]:
#stack
numbers = [23,45,67,87,52,90,12,87,67]
numbers.append(44)

In [64]:
x = numbers.pop()
print(x)
print(numbers)

44
[23, 45, 67, 87, 52, 90, 12, 87, 67]

In [53]:
poppedList = []

In [74]:
if len(numbers) != 0:
    poppedList.append(numbers.pop())
    print(poppedList)
else:    
    print("Your List is Empty")

Your List is Empty

In [75]:
len(list3)

11

# List in list

In [76]:
list4 = [29,91,["apple","banana","orange"]]
list4

[29, 91, ['apple', 'banana', 'orange']]

In [78]:
list4[2][1]

'banana'

In [94]:
fruits = ['orange',"peach",'apple','mango']
fruits

['orange', 'peach', 'apple', 'mango']

In [95]:
students

['raza', 'hira', 'asad', 'Raima', 'Ogg', 'Farah']

In [99]:
abc = [90,56, 4,students,fruits,'hello']
abc

[90,
 56,
 4,
 ['raza', 'hira', 'asad', 'Raima', 'Ogg', 'Farah'],
 ['orange', 'peach', 'mango'],
 'hello']

In [97]:
abc[4].remove("apple")
abc

[90,
 56,
 4,
 ['raza', 'hira', 'asad', 'Raima', 'Ogg', 'Farah'],
 ['orange', 'peach', 'mango'],
 'hello']

In [103]:
del abc[3][2]
abc

[90,
 56,
 4,
 ['raza', 'hira', 'Raima', 'Ogg', 'Farah'],
 ['orange', 'peach', 'mango'],
 'hello']

# Slicing

In [106]:
number=[32,45,23,67,43,89,35,67,35,99,43,]
number

[32, 45, 23, 67, 43, 89, 35, 67, 35, 99, 43]

In [112]:
number[1:6:2]  
#last mention index is not included

[45, 67, 89]

In [113]:
number[:9]

[32, 45, 23, 67, 43, 89, 35, 67, 35]

In [114]:
number[1:]

[45, 23, 67, 43, 89, 35, 67, 35, 99, 43]

In [116]:
number[:]

[32, 45, 23, 67, 43, 89, 35, 67, 35, 99, 43]

In [117]:
number[::2]

[32, 23, 43, 35, 35, 43]

In [120]:
number[-1:-9:-1]  #left to ryt slicing , step negative

[43, 99, 35, 67, 35, 89, 43, 67]